<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
</head>
<body style="background-color: #cecece; font-family: Calibri">
<div style="background-color: white; width: 100%; height: 50px; margin-top: -15px; border-radius: 10px">
    <h2 style="font-size: 20px; position: relative; top: 10px; left: 45%">{{ article.title }}</h2><br>
        <h1>{{ article.title }}</h1>
        {{ article.mavzu }}
        <h3>{{ article.text }}</h3>
        <h4>Muallif : {{ article.author }}</h4>

</div>
</body>
</html>